<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Satisfy{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}">

    <style type="text/css">
      h1 {
        text-align: center;
      }

      h1 > a {
        text-decoration: none;
      }

        h2 {
          margin-bottom: 19px;
          text-align: center;
        }

      form {
        padding: 19px 29px 29px;
        margin: 10px auto 20px;
        background-color: #edeff1;
        border: 1px solid #e5e5e5;
        margin-bottom: 10px;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
    </style>
  </head>
    <body>
        <div class="container">
            <a class="btn" href="{{ path('index') }}">Home page</a>
            | <a class="btn" href="{{ path('repository') }}">Admin home page</a>
            {% if is_granted('IS_AUTHENTICATED_FULLY')  %} | <a class="btn" href="{{ path('logout') }}">Logout</a>{% endif %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{ label }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i class="glyphicon glyphicon-{{ label }}-sign">&nbsp;</i>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <h1>
                {% block header %}
                    <a href="{{ path('repository') }}">
                        {{ satis.name }}
                    </a>
                {% endblock %}
            </h1>
            {% block content %}
            {% endblock %}
        </div>

        <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascript %}{% endblock %}
        <script>
            $('[rel=tooltip]').tooltip();
        </script>
    </body>
</html>
